.login-form {
  max-width: 320px;   /* keeps form compact */
  margin: auto;       /* centers it */
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #49090909;
  border-radius: 20px;
  margin-top:100px;
}

.login-form h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 6px;
  font-size: 0.9rem;
}

.login-form button {
  padding: 6px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: rgb(247, 184, 11);
  border-radius: 20px;
}
